.card {
  width: 20em;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.card .card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.card .card-top .card-name {
  color: var(--text-color-hover);
  padding: 10px;
}
.card .card-icon {
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color-hover);
}

.card .card-top .card-name h3 {
  font-size: 1.5em;
}
.card .card-top .card-name p {
  font-size: 1.125em;
}
.card .card-bottom {
  margin-top: 30px;
  background-color: var(--card-bottom-background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color-hover);
}
.card .card-bottom h4 {
  color: var(--primary-color);
}
@media screen and (max-width: 1023px){
  .card {
    width: 11.5em;
  }
  .card .card-top .card-name p{
    font-size: 0.9em;
  }
  .card .card-top .card-name h3{
    font-size: 1.2em;
  }
  .card .card-top{
    padding: 5px;
  }
  .card .card-bottom{
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px){
  .card {
    width: 5em;
    background-color: red;
  }
}
