.nav-link {
  padding: 15px;
  font-size: 1rem;
  color: var(--text-color);
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.nav-link:hover {
  color: var(--text-color-hover);
  background-color: var(--background-color);
}
.nav-link img {
  background: inherit;
}
.nav-link img,
.nav-link span {
  margin-right: 10px;
}
.nav-link.active {
  color: var(--text-color-hover);
  background: var(--background-color);
  font-weight: 500;
}
