.revenue-card{
    border: 1px solid var(--border-color);
    width: 35%;
    /* max-height: 300px; */
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color-hover);
}
.revenue-card .revenue-balance{
    /* border: 1px solid green; */
}

.revenue-card .revenue-balance p{
    font-size: 1.2em;
    padding:  5px 0 15px 0;
    
}
.revenue-card .revenue-amount{
    /* border: 1px solid green; */
}
.revenue-card .revenue-amount h3{
    font-size: 1.5em;
    padding: 5px 0 5px 0;
    
}
.revenue-card .revenue-small-cards{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;   
    padding: 5px 0 5px 0;
    margin-bottom: 15px;
}
.revenue-card .revenue-small-cards .progress-card,
.revenue-card .revenue-small-cards .progress-card{
    display: flex;
    /* justify-content: space-between; */
    /* border: 1px solid red; */
    width: 45%;
    
}
.revenue-card .revenue-small-cards .progress-card .progress-card-icon{
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.revenue-card .revenue-small-cards .progress-card .progress-card-details{
    margin-left: 15px;
}
.revenue-card .revenue-small-cards .progress-card .progress-card-details h4{
    font-size: 1.125em;
    font-weight: 600;
    
}
.revenue-card .revenue-small-cards .progress-card .progress-card-details p{

}

.revenue-card .revenue-progress{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
    margin-bottom: 15px;

}
.revenue-card .revenue-progress .revenue-progress-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
}

.revenue-card .revenue-progress .revenue-progress-details{
    width: 85%;
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-head{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-head h4{
    font-size: 1.125em;
    font-weight: 500;
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-head p{
    font-size: 1.125em;
    font-weight: 500;
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-progressbar{
    /* border: 1px solid green; */
    /* height: 10px */
    height: 15px;
    display: flex;
    align-items: center;
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-progressbar progress{
    accent-color: rgba(254, 98, 59, 1);
    /* background: gray; */
    width: 100%;
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-progressbar progress::-webkit-progress-bar{
    background: rgb(52, 3, 3);
}
.revenue-card .revenue-progress .revenue-progress-details .revenue-progress-update p{
    font-size: 0.9em;
}
@media screen and (max-width:1023px) {
    .revenue-card .revenue-balance{
        font-size: 1.1em;
    }
    .revenue-card .revenue-amount{
        font-size: 1.2em;
    }
    .revenue-card .revenue-small-cards{
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .revenue-card .revenue-small-cards .progress-card{
        width: 100%;
    }
    .revenue-card .revenue-small-cards .progress-card .progress-card-details{
        font-size: 1em;
    }
    .revenue-card .revenue-progress{
        column-gap: 15px;
    }
    .revenue-card .revenue-progress .revenue-progress-details .revenue-progress-head{
        font-size: 0.9em;
    }
    .revenue-card .revenue-progress .revenue-progress-details .revenue-progress-update{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 767px) {
    .revenue-card{
        width: 100%;
    }
    .revenue-card .revenue-small-cards{
        flex-wrap: unset;
        margin-top: 10px;
    }
    .revenue-card .revenue-progress .revenue-progress-details .revenue-progress-update{
        font-size: 0.9em;
        margin-top: 5px;
    }
}