.table{
    /* border: 1px solid red; */
    height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
}
.table table{
    width: 100%;
    border-collapse: collapse;
}
.table th{
    cursor: pointer;
}
.table th:hover{
    background: #efefef;

}
.table td,.table th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 15px;
}
.table tbody tr{
    padding: 10px;
}
  
th:first-child,
td:first-child {
  border-left: 0;
}

th:last-child,
td:last-child {
  border-right: 0;
}
.table tbody tr:nth-child(n+1):hover {
    background: #efefef;
}
@media screen and (max-width: 1023px){
    .table th{
        font-size: 1em;
    }
    .table tbody tr{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 767px){
    .table thead{
        position: sticky;
        top: 0;
        background: var(--background);
    }
    .table th{
        font-size: 0.8em;
    }
    .table td, .table th{
        padding: 3px 5px;
    }
    .table tbody tr{
        font-size: 0.7em;
    }
}