:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: rgba(254, 98, 59, 1);
  --text-color: rgb(100, 100, 100);
  --text-color-hover: rgb(0, 0, 0);
  --background-color: rgb(233, 233, 233);
  --border-color: rgb(200, 200, 200);
  --card-bottom-background-color : rgb(245 245 245);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}