.property-list {
    /* border: 1px solid green; */
    position: relative;
  }
  .property-list .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .property-list .row .left {
    width: 25%;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    height: 90vh;
    top: 20px;
    color: var(--text-color-hover);
  }
  
  .property-list .row .right {
    width: 75%;
    border: 1px solid var(--border-color);
    display: grid;
    border-radius: 10px;
    padding:10px;
    grid-template-columns: repeat(auto-fit, 250px);
    row-gap: 15px;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    min-height: 90vh;
    color: var(--text-color-hover);
  }
  .property-list > :first-child {
      /* background-color: lightyellow; */
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
  }
  .property-list .row:nth-of-type(2) {
      margin-bottom: 20px;
  }
  
  .property-list .row .header-row{
      display: flex;
      justify-content: space-between;
  }
  .property-list .row .filter-row{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .property-list .row .filter-row select{
      width: 100%;
      font-size: 1.1em;
  }
  .property-list .row .filter-row .checkbox-group{
      /* border: 1px solid green; */
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
  }
  .property-list .row .filter-row .checkbox-group input[type="checkbox"] {
      accent-color: rgba(254, 98, 59, 1);
      color: white;
      /* Green color */
  }
  .property-list .row .filter-row .checkbox-group .checkbox-label{
      display: block;
      display: flex;
      align-items: center;
      column-gap: 2px;
  }
  .property-list .row .filter-row .checkbox-group .checkbox-label input{
      margin-right: 2px;
  }
  
  /* Container styling */
  .size-filter{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .size-label {
    /* font-size: 14px; */
    /* color: gray; */
    /* font-weight: bold; */
  }
  
  /* Flex container for input boxes */
  .size-input-container {
    display: flex;
    gap: 10px;
  }
  
  /* Input box styling */
  .size-input {
    position: relative;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  /* Input field */
  .size-input input {
    width: 70%;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Unit (sq ft) styling */
  .unit {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: gray;
  }
  .size-filter input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  .size-filter input[type="number"] {
    -moz-appearance: textfield;
  }
  
.property-list .right a{
  text-decoration: none;
  color: unset;
  width: 250px;
}

.property-list .right a:hover img{
  opacity: 0.9;
}
.property-list .row .left button{
  height: 2em;
  background: var(--primary-color);
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.4s ease;
}
.property-list .row .left button:hover{
  color: var(--primary-color);
  background: unset;
  border: 1px solid var(--primary-color);
}
@media screen and (max-width: 1023px){
  .property-list .row .left {
    width: 35%;
  }
  .property-list .row .right {
    width: 65%;
    grid-template-columns: 1fr 1fr;
  }
}